ul li {
  padding: 0.25rem;
  list-style: none;
  font-family: "Roboto", sans-serif;

  .stats-list {
    padding: 0;
  }
}

.last-updated {
  color: lightslategrey;
  font-size: 1.15rem;
  margin: auto;
  margin-top: -1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.country-india {
  text-align: center;
  color: #bbbbdd;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#india {
  // padding: 2rem;
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;

  .stats-list {
    padding: 0;
    text-align: center;
  }

  .numbers {
    color: #bbbbdd;
  }

  .horizontal-rule {
    width: 8rem;
    margin: 0.75rem auto 1.5rem auto;
  }

  .day {
    color: #bbbbdd;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  li {
    font-size: 1.5rem;
  }

  .confirmed-cases-india {
    color: gold;
  }

  .active-cases-india {
    color: cornflowerblue;
  }

  .recovered-cases-india {
    color: #17b614;
  }

  .deaths-india {
    color: crimson;
  }

  .india-numbers {
    color: #bbbbdd;
  }
}

.state-name {
  font-size: 1.5rem;
  text-align: center;
  color: #bbbbdd;
}

.states-stats-list {
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1.2rem;
  border: 1px solid #bbbbdd;
  border-radius: 5px;
  width: auto;
  text-align: center;

  .confirmed-cases {
    color: gold;
  }

  .active-cases {
    color: cornflowerblue;
  }

  .recovered-cases {
    color: #17b614;
  }

  .deaths {
    color: crimson;
  }

  .last-updated {
    color: lightslategrey;
    font-size: 1.15rem;
  }

  .india-numbers {
    color: #bbbbdd;
  }
}

@media screen and (max-width: 480px) {
  #india {
    // padding: 1rem;
    margin: 1rem;
    margin-top: 1rem;

    li {
      font-size: 1.35rem;
    }

    .last-updated {
      font-size: 0.9rem;
    }
  }

  .states-stats-list {
    padding: 1rem;
    font-size: 1.1rem;
    margin: 0;
    border-radius: 0;
  }
}
