#title {
  margin: auto;
  text-align: center;
  font-family: "Ubuntu Mono";
  margin-top: 7rem;
}

@media screen and (max-width: 480px) {
  #title {
    margin-top: 5rem;
    font-size: 1.5rem;
  }
}
